.calendar-week-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1em;
    background-color: var(--dark-gray);
    border: 4px solid var(--dark-gray);
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.hour-gap {
    margin-left: 2em;
}

.calendar-week-header-wrapper {
    display: flex;
    flex-direction: row;
    gap: .25em;
    padding-bottom: .25em;
}

.calendar-week-headers-wrapper {
    display: flex;
    flex-direction: row;
    gap: .25em;
    width: 100%;
    justify-content: space-evenly;
}


.calendar-week-day-header {
    background-color: var(--back4);
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    padding: .25em; 
    text-align: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;

    cursor: pointer;
}

.calendar-week-today-header {
    background-color: var(--back6);
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    padding: .25em; 
    text-align: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;
}

.number-date {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.weekday {
    font-size: 20px;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: .4em;
    width: 100%;
}

.dot {
    width: 12px;
    height: 10px;
    border-radius: 1px;
    margin-left: .5em;
    background-color: var(--blue);
}

.header-ellipses {
    width: 12px;
    height: 2px;
    padding-left: .3em;
    text-align: center;
    font-size: 24px;
    color: var(--lighter-gray);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-week-body-wrapper {
    display: flex;
    flex-direction: row;
    gap: .25em;
    width: 100%;
    height: 100%;

    /* gap: .25em; */
    /* margin-left: .25em; */
    overflow-y: scroll;
    position: relative;
    /* hide scroll bar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

.calendar-week-day-bodys-wrapper {
    display: flex;
    gap: .25em;
    width: 100%;
    height: 100%;
    position: relative;
}

.calendar-week-hours-wrapper {
    text-align: center;
    width: 2em;
    overflow-x: hidden;
}
.calendar-week-hours-wrapper-right {
    text-align: center;
    width: 2em;
}

.calendar-week-day-body {
    margin-top: .5em;
    position: relative;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    cursor: pointer;
}

.calendar-week-hour {
    border-top: 1px solid var(--light-gray);
}

.calendar-week-hour-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--lighter-gray);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.calendar-event {
    position: absolute;
    left: 1%;
    right: 1%;
    background-color: var(--blue);
    padding: 0.25em;
    border-radius: 0.5em;
    flex-direction: column;
    text-align: left;
    padding-left: .5em;
}

.calendar-event-title {
    font-size: 13px;
    font-weight: 500;
    color: var(--back2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar-event-time {
    font-size: 11px;
    font-weight: 400;
    color: var(--back3);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.current-time-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--red);
}

.popup-background {
    width: 50px;
    height: 50px;
    position: absolute;
}

.popup-showing {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    margin-left: 2em;
    cursor: pointer;
}

.popup-hidden {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 99;
    margin-left: 2em;
    cursor: pointer;
}

.switch-week-button-left {
    width: 2em;
    height: 100%;
    background-color: var(--red);

    align-items: center;

    border-top-left-radius: 1em;
    border-top-right-radius: .25em;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.switch-week-button-right {
    width: 2em;
    height: 100%;
    background-color: var(--red);

    align-items: center;

    border-top-left-radius: .25em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.arrow-left {
    font-size: 12px;
    font-weight: 1000;
}

.arrow-right {
    font-size: 12px;
    font-weight: 1000;
}