.calendar-week-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1em;
    background-color: aquamarine;
    padding: .5em;
    overflow: hidden;
}

.calendar-week-header-wrapper {
    display: flex;
    width: 100%;
    height: 4em;
    padding: .25em;
    border-radius: 1em;
    background-color: #1f1f1f;
}

.calendar-week-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.day-header-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.weekday {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.number-date {
    font-size: 20px;
}

.calendar-week-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.calendar-week-hour-wrapper {
    display: flex;
    align-items: center;
}

.calendar-week-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
