.gage-wrapper {
    display: flex;
    flex-direction: row;
    gap: .5em;
    height: 100vh;
    padding: 1em;
}

.sidebar {
    padding: .5rem;
    box-sizing: border-box;
}


.hero-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}