:root {
  /* henrys palette choice */
  --back1: #040605;
  --back2: #171611;
  --back3: #2b2d2a;
  --back4: #282438;
  --back5: #74624b;
  --back6: #6a628a;
  --lighter-gray: #dcdcdc;
  /* end henrys palette choice */
  --gray: #141414;
  --dark-gray: #1f1f1f;
  --green: #6FFF96;
  --dark-green: #39834d;
  --red: #FF7070;
  --gray: #292929;
  --text-gray: #A0A0A0;
  --light-gray: #A0A0A0;
  --medium-gray: #3b3b3b;
  --yellow: #E3FF71;
  --blue: #70AAFF;
  --blue-hover: #5581c4;
  --light-gray-transparent: rgba(160, 160, 160, 0.75);
  --light-gray-clear: rgba(160, 160, 160, 0);
  --gray-filter: brightness(0) saturate(100%) invert(11%) sepia(21%) saturate(13%) hue-rotate(46deg) brightness(98%) contrast(88%);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background-color: var(--gray);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: 700;
}

h1,
h2,
h3,
p,
input,
button,
label,
a,
div,
textarea,
p {
    font-family: "Quicksand";
    color: white;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

input:focus, textarea:focus {
  outline: none;
}