.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    height: 100%;
    width: 225px;
    max-height: 100%;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.sidebar-top-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* background-color: var(--blue); */
    background-color: #1f1f1f;
    padding: 1em;
    border-radius: 1em;
}

.sidebar-top-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.upcoming-todo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0.75em;
    background-color: var(--gray);
    border-radius: 5px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.sidebar-bottom-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #1f1f1f;
    padding: 1em;
    border-radius: 1em;
}

.sidebar-bottom-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.space-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0.75em;
    background-color: var(--blue);
    border-radius: 5px;
}

.dot {
    width: 12px;
    height: 10px;
    border-radius: 1px;
    background-color: var(--blue);
}

.upcoming-todo, .space {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    width: 200px;
}

.sidebar-overflow-text {
    text-align: center;
    height: 10px;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    width: 100%;
    color: var(--text-gray);
}