.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    height: 100%;
    width: 225px;
    max-height: 100%;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.sidebar-top-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* background-color: var(--blue); */
    background-color: #1f1f1f;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-top-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.upcoming-todo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0.75em;
    background-color: var(--gray);
    border-radius: 5px;
}

.sidebar-bottom {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.25em;
}

.sidebar-bottom-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #1f1f1f;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-bottom-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.space-selector-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    padding: 0.5em 0.75em;
    /* background-color: var(--gray); */
    background: linear-gradient(to right, var(--blue), var(--gray));
    border-radius: 5px;
    /* overflow: hidden; */
}

.space-selector {
    display: flex;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;

    width: fit-content;
}

.dot {
    width: 12px;
    height: 10px;
    border-radius: 1px;
    background-color: var(--blue);
}

.upcoming-todo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    width: 200px;
}

.hide-space-button {
    display: grid;
    place-content: center;
    background-color: transparent;
}

.hide-space-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.add-space-button {
    width: 100%;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    background-color: var(--gray);
    border: none;
    font-size: 14px;
}

.sidebar-overflow-text {
    text-align: center;
    height: 10px;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    width: 100%;
    color: var(--text-gray);
}